<form class="grid-container fluid cell auto" method="post" action="/todos/add">
    <div class="cell auto">
        <label>
            <h3>
                Title
            </h3>
        </label>
        <input type="text" placeholder="Title" name="title" required>
    </div>

    <div class="cell auto">
        <label>
            <h3>Body</h3>
        </label>
        <textarea type="text" placeholder="Body" name="body" required></textarea>
    </div>

    <div class="cell auto">
        <label>
            <h3>
                Start Date
            </h3>
        </label>
        <input type="date" placeholder="Start date" name="startdate">
    </div>

    <div class="cell auto">
        <label>
            <h3>
                End Date
            </h3>
        </label>
        <input type="date" placeholder="End date" name="enddate">
    </div>

    <input type="submit" class="button primary" value="Submit">
</form>