<ul class="tab" data-responsive-accordion-tabs="accordion large-tabs" id="dashboard-tabs"
    style="width:100%;margin-top:1rem;">
    <li class="tabs-title is-active">
        <a href="#todos" aria-selected="true">Todos</a>
    </li>
    <li class="tabs-title"><a href="#profile">Profile</a></li>
</ul>

<div class="tabs-content" data-tabs-content="dashboard-tabs" style="width:100%;">
    <div class="tabs-panel is-active" id="todo" style="width:100%;">
        <ul class="accordion" data-accordion data-allow-all-closed="true" style="width:100%;">
            <li class="accordion-item is-active" data-accordion-item style="width:100%;">
                <a href="#" class="accordion-title">Accordion 1</a>
                <div class="accordion-content" data-tab-content>
                    Panel 1. I'm open because I'm loaded that way, but you can't close me
                </div>
            </li>
            <li class="accordion-item" data-accordion-item style="width:100%;">
                <a href="#" class="accordion-title">Accordion 2, you can't open me.</a>
                <div class="accordion-content" data-tab-content>
                    Panel 2. Lorem ipsum dolor
                </div>
            </li>
            <li class="accordion-item" data-accordion-item style="width:100%;">
                <a href="#" class="accordion-title">Accordion 3, you can't open me.</a>
                <div class="accordion-content" data-tab-content>
                    Panel 3. Lorem ipsum dolor
                </div>
            </li>
        </ul>
    </div>
    <div class="tabs-panel" id="profile" style="width:100%;">
        <p>Profile</p>
    </div>
</div>